body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #dfe4ed;
}

span{
    color: white;
}

h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #0e2754;
}

form{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

p{
    font-style: initial;
    font-size: 20px;
}

input{
    width: 17vw;
    height: 5vh;
    border-radius: 5px;
}

button{
    height: 4vh;
    border-radius: 5px;
    border-color: transparent;
    color: white;
    background-color:  #0e2754;
}

#btnAddFuncionario{
    margin-top: 20px;
}

table{
    margin-top: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    border-radius: 5px;
}

.modal-form{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: #0009;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
}
  
#form-funcionario{
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
    gap: 5px;
    
    background-color: #dfe4ed;
    box-shadow: 0px 0px 20px #000;
}

.container-form{
    width: 100vw;
    height: 100vh;
  
    display: flex;
    align-items: center;
    justify-content: center;
}


